In [3]:
import pandas as pd
import numpy as np

# Cleaning a .csv dataset using pandas
In this tutorial, we will use a dataset about books, which includes features like date and place of publication, edition, author, etc. The data comes in a Comma Separated Value (csv) format. However, each cell is not uniform and contains multiple missing values.

After reading the dataset using `pd.read_csv`, we print the first 5 rows.

In [4]:
url = 'https://raw.githubusercontent.com/realpython/python-data-cleaning/master/Datasets/BL-Flickr-Images-Book.csv'
df = pd.read_csv(url)

In [5]:
df.columns

Index(['Identifier', 'Edition Statement', 'Place of Publication',
       'Date of Publication', 'Publisher', 'Title', 'Author', 'Contributors',
       'Corporate Author', 'Corporate Contributors', 'Former owner',
       'Engraver', 'Issuance type', 'Flickr URL', 'Shelfmarks'],
      dtype='object')

In [6]:
df.head(5)

   Identifier  ...                           Shelfmarks
0         206  ...    British Library HMNTS 12641.b.30.
1         216  ...    British Library HMNTS 12626.cc.2.
2         218  ...    British Library HMNTS 12625.dd.1.
3         472  ...  British Library HMNTS 10369.bbb.15.
4         480  ...     British Library HMNTS 9007.d.28.

[5 rows x 15 columns]

Using df.info we can see the type of each feature under `dtype`. Also we can count how many non-null values are under each column.

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8287 entries, 0 to 8286
Data columns (total 15 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Identifier              8287 non-null   int64
 1   Edition Statement       773 non-null    object
 2   Place of Publication    8287 non-null   object
 3   Date of Publication     8106 non-null   object
 4   Publisher               4092 non-null   object
 5   Title                   8287 non-null   object
 6   Author                  6509 non-null   object
 7   Contributors            8287 non-null   object
 8   Corporate Author        0 non-null      float64
 9   Corporate Contributors  0 non-null      float64
 10  Former owner            1 non-null      object
 11  Engraver                0 non-null      float64
 12  Issuance type           8287 non-null   object
 13  Flickr URL              8287 non-null   object
 14  Shelfmarks              8287 non-null   object
dtypes: float64(3), int64(1), object(11)
memory usage: 971.3+ KB

# Step #1. Drop irrelevant data

Some columns aren't very descriptive of the books themselves. We decided to drop the following columns:

In [8]:
to_drop = ['Edition Statement', 'Corporate Author', 'Corporate Contributors', 'Former owner',
           'Engraver', 'Issuance type', 'Shelfmarks']

df.drop(to_drop, inplace=True, axis=1)

# Step #2. Identify a unique identifier as "index"

We replaced the existing index with the column `Identifier` column using `set_index`. This way a librarian may input the unique identifier when searching for a book.

In [9]:
df = df.set_index('Identifier')

# Step #3. Normalize the column "Date of Publication"

In [10]:
df.loc[216]

Place of Publication                             London; Virtue & Yorston
Date of Publication                                                  1868
Publisher                                                    Virtue & Co.
Title                   All for Greed. [A novel. The dedication signed...
Author                                                          A., A. A.
Contributors                 BLAZE DE BURY, Marie Pauline Rose - Baroness
Flickr URL              http://www.flickr.com/photos/britishlibrary/ta...
Name: 216, dtype: object

A particular book can have only one date of publication. Therefore, we need to do the following:

*   Remove the extra dates in square brackets, wherever present: 1879 [1878]
*   Convert date ranges to their “start date”, wherever present: 1860-63; 1839, 38-54
*   Completely remove the dates we are not certain about and replace them with NumPy’s NaN: [1897?]
*   Convert the string nan to NumPy’s NaN value

We can use a single regular expression to extract the publication year:

In [11]:
regex = r'^(\d{4})'

The regular expression above is meant to find any four digits at the beginning of a string, which suffices for our case. The above is a raw string (meaning that a backslash is no longer an escape character), which is standard practice with regular expressions.

In [12]:
extr = df['Date of Publication'].str.extract(r'^(\d{4})', expand=False)
extr.head()

Identifier
206    1879
216    1868
218    1869
472    1851
480    1857
Name: Date of Publication, dtype: object

In [13]:
df['Date of Publication'] = pd.to_numeric(extr)
df['Date of Publication'].dtype

dtype('float64')

In [14]:
df['Date of Publication'].isnull().sum() / len(df)

0.11717147339205986

In [15]:
df

                Place of Publication  ...                                         Flickr URL
Identifier                            ...
206                           London  ...  http://www.flickr.com/photos/britishlibrary/ta...
216         London; Virtue & Yorston  ...  http://www.flickr.com/photos/britishlibrary/ta...
218                           London  ...  http://www.flickr.com/photos/britishlibrary/ta...
472                           London  ...  http://www.flickr.com/photos/britishlibrary/ta...
480                           London  ...  http://www.flickr.com/photos/britishlibrary/ta...
...                              ...  ...                                                ...
4158088                       London  ...  http://www.flickr.com/photos/britishlibrary/ta...
4158128                        Derby  ...  http://www.flickr.com/photos/britishlibrary/ta...
4159563                       London  ...  http://www.flickr.com/photos/britishlibrary/ta...
4159587          Newcastle upon Tyne  ...  http://www.flickr.com/photos/britishlibrary/ta...
4160339                       London  ...  http://www.flickr.com/photos/britishlibrary/ta...

[8287 rows x 7 columns]

# Step #4. Combining `str` Methods with NumPy to Clean Columns

To clean the `Place of Publication` field, we can combine pandas `str` methods with NumPy’s `np.where` function, which is basically a vectorized form of Excel’s IF() macro.

Let’s take a look at two specific entries:

In [16]:
df.loc[4157862]

Place of Publication                                  Newcastle-upon-Tyne
Date of Publication                                                  1867
Publisher                                                      T. Fordyce
Title                   Local Records; or, Historical Register of rema...
Author                      FORDYCE, T. - Printer, of Newcastle-upon-Tyne
Contributors             SYKES, John - Bookseller, of Newcastle-upon-Tyne
Flickr URL              http://www.flickr.com/photos/britishlibrary/ta...
Name: 4157862, dtype: object

In [17]:
df.loc[4159587]

Place of Publication                                  Newcastle upon Tyne
Date of Publication                                                  1834
Publisher                                                Mackenzie & Dent
Title                   An historical, topographical and descriptive v...
Author                                              Mackenzie, E. (Eneas)
Contributors                                         ROSS, M. - of Durham
Flickr URL              http://www.flickr.com/photos/britishlibrary/ta...
Name: 4159587, dtype: object

These two books were published in the same place, but one has hyphens in the name of the place while the other does not.

To clean this column in one sweep, we can use `str.contains()` to get a boolean mask.

In [18]:
pub = df['Place of Publication']
london = pub.str.contains('London')
oxford = pub.str.contains('Oxford')
df['Place of Publication'] = np.where(london, 'London', np.where(oxford, 'Oxford', pub.str.replace('-', ' ')))
df['Place of Publication'].head()

Identifier
206    London
216    London
218    London
472    London
480    London
Name: Place of Publication, dtype: object

In [19]:
df.loc[4157862]

Place of Publication                                  Newcastle upon Tyne
Date of Publication                                                  1867
Publisher                                                      T. Fordyce
Title                   Local Records; or, Historical Register of rema...
Author                      FORDYCE, T. - Printer, of Newcastle-upon-Tyne
Contributors             SYKES, John - Bookseller, of Newcastle-upon-Tyne
Flickr URL              http://www.flickr.com/photos/britishlibrary/ta...
Name: 4157862, dtype: object